.white-bg {
  background: #fff;
}
.red-bg {
  background: #d9534f !important;
  color: #fff !important;
}
.green-bg {
  background: #5cb85c !important;
  color: #fff !important;
}
.yellow-bg {
  background: #f0ad4e !important;
  color: #fff !important;
}
