body {
  padding-top: 65px;
}

.bordered {
  border: 1px solid #ddd;
}

#userDropDown, #userBtn, #paid, #process, #change, #trans-content, #trans-complete, #empty-cart, #cancel {
    display: none;
}

.dropdown.pos {
  margin: 8px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 250px;
  }
}

/* Override BootStrap */
@media (min-width: 768px) {
  .navbar > .container .navbar-total,
  .navbar > .container-fluid .navbar-total {
    margin-left: -15px;
  }
}
