<div class="downloads">
	<div class="tbody">
		<div class="tr">
			<div class="th">
				#ID
			</div>
			<div class="th">
				File Name
			</div>
			<div class="th">
				File Description
			</div>
		</div>
{% for key, download in __SELF__.downloads %}
	{% set key = key + 1 %}
	<div class="tr">
		<div class="td">
			{{ key }}
		</div>
		<div class="td">
			<a href="{{ download.file.path }}">{{ download.file_name }}</a>
		</div>
		<div class="td overflow">
			{{ download.file_desc }}
		</div>
	</div>
{% endfor %}
	</div>
</div>